<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BLL_DAL.Properties.Settings.QL_KhachSanConnectionString"
            connectionString="Data Source=LAPTOP-RDLUFLH4\SQLEXPRESS;Initial Catalog=QL_KhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>